.type-title 
  font-family: 'Noto Serif', serif

.type-body
  font-family: 'Indie Flower', cursive

.type-body
  font-family: 'Libre Baskerville', serif

.type-written
  font-family: 'Gloria Hallelujah', cursive

.type-epic
  font-family: 'Cinzel', serif

.type-handwritten
  font-family: 'Walter Turncoat', cursive;
